<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="partials/head :: head"></th:block>
    <title>Kryptoauth - Technologies</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/library.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/technologies.css}">
    <script th:src="@{/js/scrollUp.js}"></script>
</head>
<body>
    <div th:replace="partials/header :: #pageloader"></div>
    <div th:replace="partials/header :: #infraloader"></div>
    <div th:replace="partials/header :: #scrollUp"></div>

    <div class="media-wrapper">
        <!-- Landing page Hero -->
        <section class="hero">
            <div th:replace="partials/header :: header"></div>
    
            <!-- Hero Image and Title -->
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
    
                        <!-- Landing page Title -->
                        <div class="column is-5 is-offset-1 landing-caption">
                            <div class="divider"></div>
                            <h1 class="title is-1 is-light is-semibold is-spaced main-title">Technologies</h1>
                            <h2 class="subtitle is-6 is-light is-thin">
                                SSI brought to the next level. <br>
                                For more information join our community.
                            </h2>
    
                        </div>
                        <!-- Hero image -->
                        <div class="column is-6">
                            <figure class="image">
                                <img th:src="@{/img/illustrations/media.svg}" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="section">
            <div class="container">
                <div class="columns">
    
                    <div class="column is-9">
                        <!-- Content wrapper -->
                        <div class="content-wrapper">
    
                            <!-- Post -->
                            <div class="blog-post">
                                <a href="/kryptoauth/blog">
                                    <!-- Featured image -->
                                    <div class="featured-image">
                                        <img th:src="@{/img/media/post4.svg}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="content">
                                        <div class="post-title">Featured on Coinative  <span class="blog-date">02.06.2020</span></div>
                                        <p>
                                            Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı
                                            bilinmeyen bir matbaacının bir hurufat numune kitabı...
                                        </p>
                                    </div>
                                </a>
                            </div>
    
                            <!-- Post -->
                            <div class="blog-post">
                                <a href="/kryptoauth/blog">
                                    <!-- Featured image -->
                                    <div class="featured-image">
                                        <img th:src="@{/img/media/post1.svg}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="content">
                                        <div class="post-title">Blockchain for dummies  <span class="blog-date">27.05.2020</span></div>
                                        <p>
                                            Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı
                                            bilinmeyen bir matbaacının bir hurufat numune kitabı...
                                        </p>
                                    </div>
                                </a>
                            </div>
    
                            <!-- Post -->
                            <div class="blog-post">
                                <a href="/kryptoauth/blog">
                                    <!-- Featured image -->
                                    <div class="featured-image">
                                        <img th:src="@{/img/media/post5.svg}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="content">
                                        <div class="post-title">Featured on Bit It  <span class="blog-date">23.04.2020</span></div>
                                        <p>
                                            Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı
                                            bilinmeyen bir matbaacının bir hurufat numune kitabı...
                                        </p>
                                    </div>
                                </a>
                            </div>
    
                            <!-- Post -->
                            <div class="blog-post">
                                <a href="/kryptoauth/blog">
                                    <!-- Featured image -->
                                    <div class="featured-image">
                                        <img th:src="@{/img/media/post2.svg}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="content">
                                        <div class="post-title">The Krypton chain algorythm  <span class="blog-date">15.04.2020</span></div>
                                        <p>
                                            Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı
                                            bilinmeyen bir matbaacının bir hurufat numune kitabı...
                                        </p>
                                    </div>
                                </a>
                            </div>
    
                            <!-- Post -->
                            <div class="blog-post">
                                <a href="/kryptoauth/blog">
                                    <!-- Featured image -->
                                    <div class="featured-image">
                                        <img th:src="@{/img/media/post3.svg}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="content">
                                        <!--div class="rounded"></div-->
                                        <div class="post-title">What is Crypto mining ?  <span class="blog-date">02.04.2020</span></div>
                                        <p>
                                            Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı
                                            bilinmeyen bir matbaacının bir hurufat numune kitabı...
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <!-- CTA -->
                            <div class="cta-wrapper has-text-centered">
                                <a href="#" class="button k-button k-primary raised has-gradient is-bold">
                                    <span class="text">Load More</span>
                                    <span class="front-gradient"></span>
                                </a>
                            </div>
    
                        </div>
                        <!-- /Content wrapper -->
                    </div>
                    <div class="column is-3">
                        <div class="search-widget">
                            <div class="control">
                                <!-- Field -->
                                <div class="control-material is-primary">
                                    <input class="material-input " type="email" required>
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Search articles</label>
                                    <i data-feather="search"></i>
                                </div>
                            </div>
                        </div>

                        <div class="categories-widget">
                            <div class="widget-title">Categories</div>
                            <ul class="categories-list">
                                <li>
                                    <a class="is-active" href="#">
                                        <span>All Posts</span>
                                        <span class="tag">8</span>
                                    </a>
                                </li>
                                <li><a href="#">Blockchain</a></li>
                                <li><a href="#">Ethereum</a></li>
                                <li><a href="#">Metamask</a></li>
                                <li><a href="#">Ganache</a></li>
                                <li><a href="#">Smart Contracts</a></li>
                                <li><a href="#">Web3j</a></li>
                                <li><a href="#">Spring Boot security</a></li>
                                <li><a href="#">OAuth 2.0</a></li>
                            </ul>
                        </div>

                        <div class="tags-widget">
                            <div class="widget-title">
                                Tags
                            </div>

                            <div class="tags">
                                <span class="tag">Blockchain</span>
                                <span class="tag">Ethereum</span>
                                <span class="tag">Metamask</span>
                                <span class="tag">Ganache</span>
                                <span class="tag">Smart Contracts</span>
                                <span class="tag">Web3j</span>
                                <span class="tag">Spring Boot security</span>
                                <span class="tag">OAuth 2.0</span>
                                <span class="tag">Okta</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div th:replace="partials/footer :: footer"></div>
</body>
</html>