<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="partials/head :: head"></th:block>
    <title>Kryptoauth - Technologies</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/library.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/technologies.css}">
    <script th:src="@{/js/scrollUp.js}"></script>
    <script th:src="@{/js/technologies.js}"></script>
</head>
<body>
    <div th:replace="partials/header :: #pageloader"></div>
    <div th:replace="partials/header :: #infraloader"></div>
    <div th:replace="partials/header :: #scrollUp"></div>

    <div class="media-wrapper">
        <!-- Landing page Hero -->
        <section class="hero">
            <div th:replace="partials/header :: header"></div>
    
            <!-- Hero Image and Title -->
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
    
                        <!-- Landing page Title -->
                        <div class="column is-5 is-offset-1 landing-caption">
                            <div class="divider"></div>
                            <h1 class="title is-1 is-light is-semibold is-spaced main-title">Tecnologie</h1>
                            <h2 class="subtitle is-6 is-light is-thin">
                                SSI: il futuro dell'identità digitale. <br>
                                Entra a far parte della nostra community.
                            </h2>
    
                        </div>
                        <!-- Hero image -->
                        <div class="column is-6">
                            <figure class="image">
                                <img th:src="@{/img/illustrations/media.svg}" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-9">
                        <!-- Content wrapper -->
                        <div class="content-wrapper">
    
                            <!-- Post Blockchain-->
                            <div class="blog-post hide">
                                <a href="/kryptoauth/blog?name=blockchain">
                                    <!-- Featured image -->
                                    <div class="featured-image">
                                        <img th:src="@{/img/media/post-blockchain.svg}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="content">
                                        <div class="post-title">Blockchain  <span class="blog-date">03.03.2022</span></div>
                                        <p>
                                            Una Blockchain è una struttura di database distribuita e crittograficamente sicura che
                                            consente ai partecipanti alla rete di stabilire un record...
                                        </p>
                                    </div>
                                </a>
                            </div>

                            <!-- Post Ethereum -->
                            <div class="blog-post hide">
                                <a href="/kryptoauth/blog?name=ethereum">
                                    <!-- Featured image -->
                                    <div class="featured-image">
                                        <img th:src="@{/img/media/post-eth.svg}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="content">
                                        <div class="post-title">Ethereum  <span class="blog-date">07.03.2022</span></div>
                                        <p>
                                            Piattaforma decentralizzata del Web 3.0 per la creazione e pubblicazione peer-to-peer di
                                            contratti intelligenti creati in un linguaggio...
                                        </p>
                                    </div>
                                </a>
                            </div>
    
                            <!-- Post Solidity -->
                            <div class="blog-post hide">
                                <a href="/kryptoauth/blog?name=solidity">
                                    <!-- Featured image -->
                                    <div class="featured-image">
                                        <img th:src="@{/img/media/post-sol.svg}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="content">
                                        <div class="post-title">Solidity <span class="blog-date">05.04.2022</span></div>
                                        <p>
                                            Solidity è un linguaggio di alto livello orientato agli oggetti per l'implementazione di
                                            Smart Contracts. Gli Smart Contracts sono programmi...
                                        </p>
                                    </div>
                                </a>
                            </div>
    
                            <!-- Post Ganache -->
                            <div class="blog-post hide">
                                <a href="/kryptoauth/blog?name=ganache">
                                    <!-- Featured image -->
                                    <div class="featured-image">
                                        <img th:src="@{/img/media/post-ganache.svg}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="content">
                                        <div class="post-title">Ganache <span class="blog-date">22.04.2022</span></div>
                                        <p>
                                            Blockchain di test basata su Ethereum per eseguire comandi e ispezionare lo stato
                                            controllando il funzionamento della catena...
                                        </p>
                                    </div>
                                </a>
                            </div>
    
                            <!-- Post Metamask -->
                            <div class="blog-post hide">
                                <a href="/kryptoauth/blog?name=metamask">
                                    <!-- Featured image -->
                                    <div class="featured-image">
                                        <img th:src="@{/img/media/post-metamask.svg}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="content">
                                        <!--div class="rounded"></div-->
                                        <div class="post-title">Metamask <span class="blog-date">22.04.2022</span></div>
                                        <p>
                                            Un portafoglio crittografico e un gateway per le app blockchain scaricabile facilmente
                                            dai marketplace dei vari browser...
                                        </p>
                                    </div>
                                </a>
                            </div>

                            <!-- Post Web3 -->
                            <div class="blog-post hide">
                                <a href="/kryptoauth/blog?name=web3">
                                    <!-- Featured image -->
                                    <div class="featured-image">
                                        <img th:src="@{/img/media/post-web3.svg}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="content">
                                        <!--div class="rounded"></div-->
                                        <div class="post-title">Web3 (Web3j - Web3js) <span class="blog-date">17.06.2022</span></div>
                                        <p>
                                            Web3 si usa per indicare le innovazioni digitali di ultima generazione e le loro applicazioni su internet.
                                            Spesso ci si riferisce al Web3 come a una fase di internet...
                                        </p>
                                    </div>
                                </a>
                            </div>

                            <!-- Post Spring Boot -->
                            <div class="blog-post hide">
                                <a href="/kryptoauth/blog?name=spring_boot">
                                    <!-- Featured image -->
                                    <div class="featured-image">
                                        <img th:src="@{/img/media/post-spring.svg}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="content">
                                        <!--div class="rounded"></div-->
                                        <div class="post-title">Spring Boot <span class="blog-date">06.07.2022</span></div>
                                        <p>
                                            Spring Boot semplifica la creazione di applicazioni basate sul linguaggio Java
                                            fornendo diversi livelli di supporto per lo sviluppatore...
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <!-- CTA -->
                            <div class="cta-wrapper has-text-centered">
                                <a href="#" id="loadMore" class="button k-button k-primary raised has-gradient is-bold">
                                    <span class="text">Carica Altro</span>
                                    <span class="front-gradient"></span>
                                </a>
                            </div>
    
                        </div>
                        <!-- /Content wrapper -->
                    </div>
                    <div class="column is-3">
                        <div class="search-widget">
                            <div class="control">
                                <!-- Field -->
                                <div class="control-material is-primary">
                                    <input class="material-input" type="text" required>
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Search articles</label>
                                    <i data-feather="search"></i>
                                </div>
                            </div>
                        </div>
                        <div class="categories-widget">
                            <div class="widget-title">Categorie</div>
                            <ul class="categories-list">
                                <li>
                                    <a href="/kryptoauth/technologies" class="is-active">
                                        <span>Tutti i Post</span>
                                        <span class="tag">7</span>
                                    </a>
                                </li>
                                <li><a href="/kryptoauth/blog?name=ethereum">Ethereum</a></li>
                                <li><a href="/kryptoauth/blog?name=solidity">Solidity</a></li>
                                <li><a href="/kryptoauth/blog?name=ganache">Ganache</a></li>
                                <li><a href="/kryptoauth/blog?name=metamask">Metamask</a></li>
                                <li><a href="/kryptoauth/blog?name=web3">Web3</a></li>
                                <li><a href="/kryptoauth/blog?name=spring_boot">Spring Boot</a></li>
                            </ul>
                        </div>

                        <div class="tags-widget">
                            <div class="widget-title">Tags</div>
                            <div class="tags">
                                <span class="tag">Blockchain</span>
                                <span class="tag">Ethereum</span>
                                <span class="tag">Solidity</span>
                                <span class="tag">Smart Contracts</span>
                                <span class="tag">Metamask</span>
                                <span class="tag">Ganache</span>
                                <span class="tag">Web 3.0</span>
                                <span class="tag">Web3j</span>
                                <span class="tag">Web3js</span>
                                <span class="tag">Spring Boot</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div th:replace="partials/footer :: footer"></div>
</body>
</html>