<!-- Success Popup -->
<th:block th:fragment="popupSuccess">
  <div class="modal" id="popupSuccess">
    <div class="header-modal-success"></div>
    <div class="content-modal success-p">
      <p style="font-size: 35px">Fantastico!</p>
      <p>La registrazione è avvenuta con successo.<br>
        Attendi che un admin confermi la tua registrazione...
      </p>
      <div class="icon-box-success">
        <img th:src="@{/img/icons/check-solid.svg}" alt="check">
      </div>
    </div>
    <div class="footer-modal-success">
      <button id="confirmPopupSuccess" type="button" class="button is-button k-button k-primary raised is-bold is-fullwidth">
        <span style="font-size: 16px; font-weight: bolder;" class="text">OK</span>
        <span class="front-gradient"></span>
      </button>
    </div>
  </div>
</th:block>
<!-- /Success Popup -->