<!-- Success Popup -->
<th:block th:fragment="popupSuccessPrivateKey">
    <div class="modal" id="popupSuccessPrivateKey">
        <div class="header-modal-success"></div>
        <div class="content-modal success-p">
            <p style="font-size: 35px">Abbiamo quasi fatto...</p>
            <p>Inserisci la chiave privata del tuo account per completare l'operazione.</p>
            <input class='privateKey' type='password' id='privateKey' name='privateKey'>
        </div>
        <div class="footer-modal-success">
            <button id="confirmPopupSuccessPrivateKey" type="button" class="button is-button k-button k-primary raised is-bold is-fullwidth">
                <span style="font-size: 16px; font-weight: bolder;" class="text">OK</span>
                <span class="front-gradient"></span>
            </button>
        </div>
    </div>
</th:block>
<!-- /Success Popup -->