.format-password{
    color: #7f00ff;
    margin-top: 20px;
}

.format-password > span{
    margin-bottom: 20px;
}

@media screen and (max-width: 347px){
    .button.is-fullwidth{
        width: 92%;
    }
}

@media screen and (max-width: 460px){
    .hero-image{
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1216px){
    .hero-image{
        width: 50%!important;
    }
}