.format-password{
    color: #7f00ff;
    margin-top: 20px;
}

.format-password > span{
    margin-bottom: 20px;
}

@media screen and (max-width: 391px){
    div.columns{
        margin-left: -3.2rem!important;
    }

    .ico-countdown .ico-card {
        width: 79%!important;
        margin-left: 25px!important;
    }
}