label{
    font-size: 14px!important;
}

.radio-left, .radio-right{
    margin-bottom: 3em;
    color: #7f00ff;
}

.radio-left{
    float: left;
}

.radio-right{
    float: right;
}

.content-modal > span{
    text-align: center;
}

.format-password{
    color: #7f00ff;
    margin-top: 20px;
}

ul#countdown.is-ico .label{
    font-size: 16px;
}

ul#countdown li .label{
    font-size: 16px;
}

.ico-countdown .ico-card .progress-block .progress-tags div{
    font-size: 16px;
}

.format-password > span{
    margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 455px){
    .success-p p:first-child{
        font-size: 28px!important;
    }
    .success-p p:nth-child(2){
        font-size: 17px !important;
    }
}

@media screen and (max-width: 347px){
    .button.is-fullwidth{
        width: 92%;
    }
}

@media screen and (max-width: 460px){
    .hero-image{
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1216px){
    .hero-image{
        width: 50%!important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .landing-caption {
        padding: 0;
    }
}