HELP.md
target/
src/main/smart*contract/build
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### API Pinata Keys ###
src/main/resources/static/js/pinata_IPFS/scripts/.env

### node_modules ###
src/main/resources/static/js/pinata_IPFS/node_modules/
src/main/resources/static/js/pinata_IPFS/package.json
src/main/resources/static/js/pinata_IPFS/package-lock.json
